
:root {
    --vermelho-unicarioca-1: #a12d42;
    --vermelho-unicarioca-2: #db2c44;
    --vinho-unicarioca-1: #6c2444;
    --azul-unicarioca-1: #0caccc;
    --azul-unicarioca-2: #38bbd7;
    --cinza-unicarioca-1: #dddae1;
    --rosa-unicarioca-1: #cf94a4;
    --rosa-unicarioca-2: #e57584;
    --rosa-unicarioca-3: #e45c6c;
}